* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(192, 55, 55);
    color: blanchedalmond;
}

header {
    display: flex;
    justify-content: center;
    background-color: rgb(100, 28, 28);

}

.card {
    flex-direction: row;
    margin: 10px;
    background-color: rgba(119, 31, 31, 0.5);
}